@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
}

body {
    background: #CCCCCC;
}

.banner-main {
    width: 100%;
}

.banner-secondary {
    width: 50%;
}

.main {
    margin-top: 5px;
    padding: 15px;
}

.apresentation {
    margin-top: 5px;
    padding: 30px;
}

.centralizar-titulo {
    text-align: center;
}

h1 {
    padding-bottom: 5px;
}

h2 {
    padding-bottom: 15px;
}

p {
    text-align: center;
    margin: 10px;
}

.missao {
    font-size: 20px;
}

em strong {
    color: red;
}

span {
    color: blueviolet;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 15%;
}